/* Add CSS Styling */
.odd-number {
  color: black;
  background-color: pink;
  font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#num-4, #num-3 {
  font-size: 24px;
}

#num-2 {
  color: blue;
  font-size: 36px;
}

#num-4 {
  background-color: green;
  font-size: 24px;
  font-weight: bold;
}

