/* Add CSS Styling */
.presser {
  font-size: 28px;
  font-family: "Helvetica", "Times New Romans", sans-serif;
}

#click {
  background-color: black;
  color: white;
}

#no-click {
  background-color: yellow;
}
